*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 100vh;
    background: #101052;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #c0146a;
    box-shadow: 0px 0px 50px #fc2591;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    position: relative;
    z-index: 10;
    cursor: pointer;
    &:hover{
        box-shadow: 0px 0px 20px #fc2591;
    }
}

.bi-plus{
    font-size: 40px;
}

.left{
    width: 150px;
    height: 40px;
    background: #fc2591;
    box-shadow: 0px 0px 10px #fc2591;
    padding: 0px 0px 0px 50px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    color: #fff;
    transition: 0.2s;
    position: absolute;
    opacity: 0;
    left: 600px;
}

.left i{
    font-size: 20px;
}

.right {
    width: 150px;
    height: 40px;
    background: #fc2591;
    box-shadow: 0px 0px 10px #fc2591;
    padding: 0px 50px 0px 0px;
    border-radius: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    color: #fff;
    transition: 0.2s;
    position: absolute;
    opacity: 0;
    right: 600px;
}

.right i {
    font-size: 20px;
}

/* javaScript uchun */

.rotate{
    transform: rotate(45deg);
}

.leftChild{
    left: 500px;
    opacity: 1;
}

.rightChild{
    right: 500px;
    opacity: 1;
}

